<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/6fb4547a35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link  href="/stylesheets/styleRating.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <title>HomemadeFood Delivery</title>
    <style>
        .checked {
            color: yellow;
        }
        </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/"><i class="fas fa-drumstick-bite d-none d-sm-inline"></i>HomemadeFoodDelivery</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color:#f9f7f7; font-size:20px;"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <% if (currentUser && role==="vendorLocal") { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/vendor/<%= currentUser._id %> ">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders/<%= currentUser._id %> ">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notification">Notifications</a>
                    </li>
                <% } else if (currentUser && role==="customerLocal") { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/stores">Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notification">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders/<%= currentUser._id %> ">Orders</a>
                    </li>  
                <%} else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/stores">Stores</a>
                    </li>                    
                <% } %> 
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %> 
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if (error && error.length>0) { %>
            <div class="bg-danger flash"><i class="fas fa-exclamation-circle px-1"></i><%= error %></div>
        <% } %>
    </div>
    <div class="container">
        <% if (success && success.length>0) { %>
            <div class="bg-success flash"><i class="fas fa-check-circle px-1"></i><%= success %></div>
        <% } %>
    </div>