<%- include("./partials/header")  %> 

<% if (cartItems === null || totalItems === 0) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <h1 class="hero-text"><i class="fas fa-shopping-cart m-2"></i>Cart is empty!</h1>  
    </div>

<% } else { %>

    <% cartItems.forEach(item => { %>                            
        <% var itemPrice = parseFloat(item.price).toFixed(2);%>    

        <div class="" id="cart-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" id="cart-item-img" c src="<%= item.image %> " alt="">
                    </div>
                    <div class="col-lg-10">
                        <h2 class="card-title"><%= item.name %> </h2>           
                        <p class="card-text" >
                            <span id="price">Item total:  RM<%= itemPrice %> </span> 
                            <div>
                                <a id="decrement" href="/stores/<%= cartStoreId %>/delete/<%= item.productId %> ">-</a> 
                                <span class="card-text" style="color:#ee6f57"> Quantity: <%= item.qty %></span>
                                <a id="increment" href="/stores/<%= cartStoreId %>/add/<%= item.productId %> ">+</a>  
                            </div>
                        </p>
                    </div>  
                </div>
            </div>
        </div>     
    <% }) %>

    <h2 class="m-4">Total price: RM<%= totalPrice %> </h2>
    <div class="row">
        <form action="/checkout" method="GET">
            <button class="custom-btn ml-4">Checkout!</button>
        </form>
        <a href="/stores/<%= cartStoreId %> "><button class="custom-btn ml-2">Back to store</button></a>
    </div>
  
<% } %> 
 

<%- include("./partials/footer")  %> 