<%- include("./partials/header")  %> 

<% if (customerOrders === null) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <h1 class="hero-text"><i class="fas fa-shopping-cart m-2"></i>No orders yet!</h1>  
    </div>

<% } else { %>

    <% customerOrders.forEach(order => { %>                            
        <% var orderTotalPrice = parseFloat(order.totalPrice).toFixed(2);%>    

        <div class="card" id="cart-card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-lg-6 p-0">
                        <h2 class="card-title mb-0"><%= order.store.name %> </h2> 
                        <p class="card-text order-text-small mb-0">Ordered at <strong><%= order.createdAt %></strong> </p> 
                        <p class="card-text order-text-small mb-2">Delivery address: <strong><%= order.deliveryBlockUnit %>, <%= order.deliveryAddress %></strong></p> 
                    </div>
                    <div class="col-lg-4 p-0">
                        <a href="/chat/<%= order.store._id %>/<%= currentUser._id %>  ">
                            <button class="custom-btn my-1 px-2"><i class="fas fa-comment-dots p-1"></i>Contact seller</button>
                        </a>
                        <a href="/orders/tracking/<%= order._id %> ">
                            <button class="custom-btn my-1 px-2"><i class="fas fa-truck-moving p-1"></i>Track order</button>
                        </a>
                        <!--Cannot rate again if the order is already rated-->
                        <% if (order.isRated == true) { %>
                            <button onclick="isRated()" class="custom-btn my-1 px-2" style="background-color: #3b3d42"><i class="fas fa-star-half-alt p-1"></i>Rate seller</button>
                        <% } else { %>
                            <a href="/orders/rate/<%= order._id %> ">
                                <button class="custom-btn my-1 px-2"><i class="fas fa-star-half-alt p-1"></i>Rate seller</button>
                            </a>                            
                        <% } %>
                    </div>
                </div>
                
                <% var i = 1 %> 
                <% order.items.forEach(item => { %>
                    <% var itemTotal = parseFloat(item.price).toFixed(2);%>    
                    <p class="card-text m-0 order-text"><span><%= i %>. </span><%= item.name %> x<%= item.qty %> </p>
                    <p class="card-text order-text">Item total: RM<%= itemTotal %> </p>
                    <% i++ %> 
                <% }) %> 
                <p class="class-text m-0 order-text-big"><i class="fas fa-shopping-basket pr-1"></i>Item total quantity: <%= order.totalQty %> </p>
                <p class="class-text order-text-big"><i class="fas fa-file-invoice-dollar pl-1"></i> Order total: RM<%= orderTotalPrice %> </p>
            </div>
        </div>     
    <% }) %>
<% } %> 

<script>
    function isRated() {
        alert("You already rated the seller for this order :(");
    }
</script>
 

<%- include("./partials/footer")  %> 