<%- include("./partials/header")  %> 

<% if (customerOrders === null) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <h1 class="hero-text"><i class="fas fa-shopping-cart m-2"></i>No orders yet!</h1>  
    </div>

<% } else { %>

    <% customerOrders.forEach(order => { %>                            
        <% var orderTotalPrice = parseFloat(order.totalPrice).toFixed(2);%>    

        <div class="card" id="cart-card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-6 p-0">
                        <h2 class="card-title mb-0"><%= order.store.name %> </h2> 
                        <p class="card-text order-time ">Ordered at <strong><%= order.createdAt %></strong> </p>  
                    </div>
                    <div class="col-md-2 p-0">
                        <a href="/chat/<%= order.store._id %>/<%= currentUser._id %>  ">
                            <button class="custom-btn m-0 px-2"><i class="fas fa-comment-dots p-1"></i>Contact seller</button>
                        </a>    
                    </div>
                </div>
                
                <% var i = 1 %> 
                <% order.items.forEach(item => { %>
                    <% var itemTotal = parseFloat(item.price).toFixed(2);%>    
                    <p class="card-text m-0 order-text"><span><%= i %>. </span><%= item.name %> x<%= item.qty %> </p>
                    <p class="card-text order-text">Item total: RM<%= itemTotal %> </p>
                    <% i++ %> 
                <% }) %> 
                <p class="class-text m-0 order-text-big"><i class="fas fa-shopping-basket pr-1"></i>Item total quantity: <%= order.totalQty %> </p>
                <p class="class-text order-text-big"><i class="fas fa-file-invoice-dollar pl-1"></i> Order total: RM<%= orderTotalPrice %> </p>
            </div>
        </div>     
    <% }) %>
<% } %> 
 

<%- include("./partials/footer")  %> 