<%- include("./partials/header")  %> 

<div class="container-fluid p-3">


    <div class="hero-text mb-5">
        <h1 class="">How's your order experience</h1>
    </div>  

    <div class="container table-responsive-md">
      <table class="notification-table table-hover table">
        
          <tr>
              <th>Restaurant Name</th>
              <th> Order ID</th>
              <th>Rate seller</th>
          </tr>
          <tr>
            <% var storeName = foundOrder.store.name  %>
            <td><%= storeName %> </td>
            <td><%= foundOrder._id %></td>
            <td>
              <div class="row">
                <form action="/orders/rate/<%= foundOrder._id %> " method="post">
                  <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                </fieldset>
                  <input type="submit" class="custom-btn ml-3" value="Rate">                  
                </form>                
              </div>
              <div class="row">
                  <p class="p-2" id="rate-text"></p>
              </div>
          </tr>      
        </table>
  </div>


<script>
  document.getElementById("star1").onclick = function() {
    document.getElementById("rate-text").innerHTML = "Sucks big time - 1 star";
  }
  document.getElementById("star2").onclick = function() {
    document.getElementById("rate-text").innerHTML = "Kinda bad - 2 stars";
  }
  document.getElementById("star3").onclick = function() {
    document.getElementById("rate-text").innerHTML = "Meh - 3 stars";
  }
  document.getElementById("star4").onclick = function() {
    document.getElementById("rate-text").innerHTML = "Pretty good - 4 stars";
  }
  document.getElementById("star5").onclick = function() {
    document.getElementById("rate-text").innerHTML = "Awesome - 5 stars";
  }
</script>

<!-- <script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Updated";
  document.getElementById("myP").style.visibility = "hidden"; 
}


</script> -->






</div>



  

<%- include("./partials/footer") %> 