<%- include("./partials/header")  %> 


<div class="container">
    <div class="hero-text mt-5">
        <h1 id="store-name"><%= store.name %> </h1>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-2 p-0">
            <h6 style="font-size: 0.8rem;"> 
                <p><%= store.address %> </p>
            </h6> 
        </div>
        <div class="col-lg-2">
            <% if (currentUser) { %>
                <a href="/chat/<%= store._id %>/<%= currentUser._id %>  ">
                    <button class="custom-btn m-0 px-2"><i class="fas fa-comment-dots p-1"></i>Contact seller</button>
                </a>             
            <% } %>
            
        </div>         
     
    </div>

    
    <div class="row">
        <% store.products.forEach(product => { %>
            <div class="col-lg-4 col-md-6 mb-4 px-0">
                <div class="card"> 
                    <img src="<%= product.image %> " class="card-img-top" alt="store image">
                    <div class="card-body p-1">
                        <p class="card-text" >
                            <h5 class="card-title"><%= product.name %></h5>
                            <div class="float-left">
                                <p class="mb-0 card-description">RM <%= product.price %> </p>
                                <div>
                                    <p class="card-description" style="color: #ee6f57; opacity: 1;"><%= product.description %> </p>
                                </div>
                            </div>
                        </p>
                    </div>
                    <div class="card-footer p-2">               
                        <a href="/stores/<%= store.id %>/add/<%= product._id %>  " class="custom-btn m-0">Add to Cart</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>


</div>
 
<%- include("./partials/footer")  %> 